<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="icon" type="imagem/png" href="icone.png">
	<!-- <meta content="icone.png" itemprop="image"> -->
	<title>TecWeb</title>
	<!-- <img src="icone.png" alt="icone"> -->
</head>

<body>
	<h1 style="color: blue;">Bem-vindos 

		




		à programação em HTML5</h1>
	<h2>Bem-vindos à programação em HTML5</h2>
	<h3>Bem-vindos à programação em HTML5</h3>
	<h4>Bem-vindos à programação em HTML5</h4>
	<h5>Bem-vindos à programação em HTML5</h5>
	<h6>Bem-vindos à programação em HTML5</h6>
	<img src="icone.png" alt="icone">
</body>

</html>